# Dependências
node_modules/
.pnp.cjs
.pnp.loader.mjs

# Build e distribuição
/dist/
/build/
/out/
.next/

# Logs e relatórios
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Testes
coverage/
*.lcov

# Variáveis de ambiente
.env
.env.*
!.env.example

# Sistemas operacionais
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Outras caches
.cache/
.tmp/
