@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rolagem suave para a navegação da SPA */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-gray-100;
}

.code-terminal {
  background-color: #1e1e2e;
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: 'Fira Code', monospace;
}

.code-terminal-header {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #2d2d40;
}

.code-terminal-header span {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
}

.code-terminal-header span:nth-child(1) {
  background: #ff5f56;
}

.code-terminal-header span:nth-child(2) {
  background: #ffbd2e;
}

.code-terminal-header span:nth-child(3) {
  background: #27c93f;
}

.code-terminal-body {
  padding: 1rem;
}
